{% extends 'base.html' %}

{% block 'title' %}Home - Movies{% endblock %}

{% block 'content' %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for movie in movies %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ movie.image.url }}" alt="{{ movie.title }}" class="w-100">
            <div class="card-body">
              <h3>{{ movie.title }}</h3>
              <p class="card-text">{{ movie.description|safe }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'movie' movie.id %}" class="btn btn-sm btn-outline-info">View</a>
                </div>
                <small class="text-muted">{{ movie.get_reviews_count }} review{{ movie.get_reviews_count|pluralize }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}