{% extends 'base.html' %}

{% block 'title' %}{{ movie.title }} - Movies{% endblock %}

{% block 'content' %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="{{ movie.image.url }}">
                <h1>{{ movie.title }}</h1>
                <p>{{ movie.description }}</p>

                <hr>
                <h2>Reviews: </h2>
                <div>
                    <h3>Average reviews: {{ movie.get_average_point }}/10</h3>
                </div>
                <ul class="list-group">
                    {% for review in reviews %}
                        <li class="list-group-item">
                            {{ review.review }}
                            {% if review.type_of_review == 'positive' %}
                            <small>&#128519;</small>
                            {% else %}
                            <small>&#128533;</small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <h2>Add Review</h2>
                <label>Comment</label>
                <textarea class="form-control" id="review" name="review"></textarea>
                <button class="btn btn-primary mt-3" id="sendButton">Send</button>
            </div>
        </div>

    </div>
  </div>

  <form id="add_review_form" method="POST" action="{% url 'add_review' movie.id %}" class="hidden">
      {% csrf_token %}
      <input type="hidden" id="type_of_review" name="type" value="">
      <input type="hidden" id="review_text" name="review" value="">
  </form>

</main>
{% endblock %}
{% block 'js' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    let button = document.getElementById('sendButton');
    button.addEventListener('click', function(){

        let comment = document.getElementById('review').value

        fetch(`https://ba51fd9d3f14.ngrok.io/predict/${comment}`)
    	.then(response => response.json())
    	.then(
    	    (data) =>{
    	    let result = data.prediction.class
    	    document.getElementById('type_of_review').value = result
    	    document.getElementById('review_text').value = comment
    	    document.getElementById('add_review_form').submit()
    	    }

        );
    })
</script>

{% endblock %}
